@tailwind base;
@tailwind components;
@tailwind utilities;

    /* Importando fontes do Google Fonts
    Inter
    Urbanist
    Gantari
    */
    body {
    font-family: 'Urbanist', sans-serif; /* Ou 'Urbanist', 'Gantari', etc. */
    }

  :root {
    --primary-light: #FED811;
    --primary-dark: #E8C511;
    --dark-dark: #22223B;
    --dark-light: #2F2F53;
    --danger: #EF233C;
    --success: #5DD39E;
    --white-light: #FAFDF6;
    --white-dark: #EDEDED;
}

#root {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}

/* Remove fundo cinza em botões clicados no Chrome */
button::-moz-focus-inner {
  border: 0;
}

button:focus {
  outline: none;
}

button:active {
  background-color: inherit !important;
  -webkit-tap-highlight-color: transparent;
}


.user-name {
    font-size: 16px;
    color: var(--white-light);
    font-weight: bold;
    margin-left: 20px;
}



.calendar-container {
    /* Estilização do contêiner do calendário */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}


